<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YeeBay</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: left;
            height: 100vh;
            margin: 100px;
            font-family: consolas;
            background-color: #f7f3f0;
        }
    </style>
</head>
<body>
    <div>
        <p style="color: red">
            <i>(4/1/25)</i><br>
            yeeDev_bert: hey whats that ez way to try stuff as admin again?
        </p>
        <p style="color: blue">
            yeeDev_douglas: just set admin as true in a param to the search page
        </p>
        <p style="color: red">
            yeeDev_bert: hahahahaha thats so stupid
        </p>
        <p style="color: red">
            yeeDev_bert: would be so bad if this convo accidentally got added to the about us page or something lol we should change that
        </p><br>
        <p style="color: blue">
            <i>(09:25 2 days ago)</i><br>
            yeeDev_douglas: ok so i got that changed, added caching for better speed, and i added a cool new feature so ppl can choose their font results
        </p>
        <p style="color: red">
            yeeDev_bert: why would anyone want that
        </p>
        <p style="color: blue">
            yeeDev_douglas: wing. dings.
        </p>
        <p style="color: red">
            yeeDev_bert: omg
        </p>
    </div>
</body>
</html>